.popover{
    display: inline-block;
    width: max-content;
}
.popcontent {
    overflow: hidden;
    display:inline-block;
    width: max-content;
}
.hidden {
    width: 0%;
    transition: width 0.5s;
    transition-delay: 0.25s;
    transition-timing-function: ease-in;
}

.floater {
    width: 100%;
    transition: width 0.5s;
    transition-delay: 0.125s;
    transition-timing-function: ease-out;
}
