.nesDisplay {
  position:absolute;
  width:100%;
  height:100%;
  margin: 0px 0px 0px 0px;
  overflow:hidden;

  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.chichiPig {
  position:absolute;float:left;display:block; height:100%;width:100%;
}