table {
  border-collapse: collapse;
  border: 2px solid gray;
}
tr {
  border: 2px solid gray;
}
td {
  border: 2px solid gray;
  font-size: 8px !important;
  min-width: 60px;
}

.ramTable {
  overflow: auto;
  max-height: 500px;
}

