<div>
    <mat-button-toggle [checked]="localSettings.muted" (change)="localSettings.muted = $event.source.checked;">
      {{ localSettings.muted ? 'muted' : 'sound' }}
    </mat-button-toggle>
      <mat-slider [value]="localSettings.volume" (change)="localSettings.volume = $event.source.value;" min="0" max="1" step="0.05" value="0.75"></mat-slider>
  </div>
  
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      System
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div>
    <mat-button-toggle (change)="powertoggle()" >
      {{ powerstate }}
    </mat-button-toggle>
    <button mat-button (click)="wishbone.Reset()">Reset</button>
  </div>

  <div class="fileLoader">
    <input type="file" id="input-file-id" class="ng-hide" style="display:none" (change)="handleFile($event)">
    <div class="loader-button mat-button-toggle mat-button-toggle-checked mat-button-toggle-standalone">
      <label for="input-file-id" class="mat-button-toggle-label">
        <div class="mat-button-toggle-label-content">
          Choose File
        </div></label>
      <div class="mat-button-toggle-focus-overlay"></div>
    </div>
  </div>

  <div *ngIf="wishbone.Cart.mapperID > -1" >
    <cartinfo-main></cartinfo-main>
  </div>
  
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Audio Settings
    </mat-panel-title>
  </mat-expansion-panel-header>
 
    <chichi-audiosettings></chichi-audiosettings>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Extra
      </mat-panel-title>
    </mat-expansion-panel-header>
    <chichines-controlconfig></chichines-controlconfig>
    <button mat-button (click)="showDebugger()">Open Debugger</button>  
    <chichi-gamegenie></chichi-gamegenie>
  </mat-expansion-panel>
  <div style="position:absolute; bottom: 12px">
    FPS: {{ wishbone.fps }}
  </div>

  