div {
    position: relative;
    height: 64px;
    width: auto;
}

button {
    position: absolute;
}

.hidden {
    left: 0px;
    transition: left 0.5s;
}

.floater {
    
    transition: left 0.5s;
}