#chichiNesApp, mat-sidenav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left:0%;
}

mat-sidenav {
  background-color:dimgray !important;
}

.leftSideNav {
  max-width:20%;
}

.rightSideNav {
  width: 70%;
  background-color: rgba(41, 141, 39, 0.44) !important;
  border-left: 3px solid rgba(41, 141, 39, 1);
}


.flexcontainer {
  position:absolute;
  height: 100%; 
  width: 50%; 
  display:flex; 
  flex-direction:column; 
  justify-content:flex-start;
}