table {
    font-size: 0.75em;
}

td {
    padding: 5px !important;
}

tr:nth-child(even) {
    background: #ddd;
}

tr:nth-child(odd) {
    background: #fff;
}

tr.header {
    background: #e7c976;
}
