<div id="chichiNesApp" >

<mat-sidenav-container >
      <mat-sidenav #sideNav  class="leftSideNav" position="start" mode="over" opened="true">
      <!-- sidenav content -->
      <controlpanel></controlpanel>
  

    </mat-sidenav>
  <mat-sidenav #debugNav class="rightSideNav" position="end" mode="over" opened="false">
      <!-- sidenav content -->
      <app-debugoutput></app-debugoutput>

    </mat-sidenav>

    <chichi></chichi>
    <div class="flexcontainer">
        <div style='order:1'>
            <button mat-fab class="sideMenu_Small" (click)="sideNav.toggle()">
                <mat-icon svgIcon='gamepad'></mat-icon>
            </button>
        </div>
        <div style='order:2'>
            <div style="display: block">            
                <button mat-fab class="sideMenu_Small" (click)="showVolume = !showVolume">
                    <mat-icon svgIcon='amp'></mat-icon>
                </button>
                <controlpanel-volume *ngIf='showVolume'></controlpanel-volume>
            </div>
        </div>
    </div>
</mat-sidenav-container>
  
</div>