<div class="flexcontainer">

    <chichi-popover #filePopover [button]='fileHandlerButton()' icon='upload'>
        <chichi-ui-segment>
            <controlpanel-powerbutton></controlpanel-powerbutton>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <controlpanel-stopbutton></controlpanel-stopbutton>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <controlpanel-resetbutton></controlpanel-resetbutton>
        </chichi-ui-segment>
    </chichi-popover>

    <chichi-popover [button]='muteButton()'>
        <chichi-ui-segment>
            <controlpanel-volume></controlpanel-volume>
        </chichi-ui-segment>
    </chichi-popover>
    <controlpad-config></controlpad-config>
    
    <chichi-popover *ngIf='cartSettings ? true : false' [button]='cartInfoButton()' [icon]='chip'>
        <chichi-ui-segment>
            <cheating-gamegenie></cheating-gamegenie>
        </chichi-ui-segment>
    </chichi-popover>

    <a mat-fab routerLink="/debug" routerLinkActive="active">
        <mat-icon svgIcon='settings'></mat-icon>
    </a>
</div>