<div class="flexcontainer">

    <chichi-popover icon='upload'>
        <chichi-ui-segment>
            <controlpanel-cartloader></controlpanel-cartloader>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <controlpanel-powerbutton></controlpanel-powerbutton>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <controlpanel-stopbutton></controlpanel-stopbutton>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <controlpanel-resetbutton></controlpanel-resetbutton>
        </chichi-ui-segment>
    </chichi-popover>

    <chichi-popover icon='amplifier'>
        <chichi-ui-segment>
            <controlpanel-mutebutton></controlpanel-mutebutton>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <controlpanel-volume></controlpanel-volume>
        </chichi-ui-segment>
    </chichi-popover>

    <chichi-popover icon='settings'>
        <chichi-ui-segment>
            <controlpad-config></controlpad-config>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <a mat-fab routerLink="/debug" routerLinkActive="active">
                <mat-icon svgIcon='settings'></mat-icon>
            </a>
        </chichi-ui-segment>
    </chichi-popover>
                    
    <chichi-popover *ngIf='cartSettings ? true : false' icon='chip'>
        <chichi-ui-segment>
            <cartinfo-main>
            </cartinfo-main>
        </chichi-ui-segment>
        <chichi-ui-segment>
            <cheating-gamegenie></cheating-gamegenie>
        </chichi-ui-segment>
    </chichi-popover>

</div>