<div class="flexcontainer">

    <chichi-popover [button]='fileHandlerButton()' [icon]='upload'>
        <chichi-ui-segment width='max-content' left='0px'>
            <controlpanel-powerbutton></controlpanel-powerbutton>
        </chichi-ui-segment>
        <chichi-ui-segment width='max-content' left='69px'>
            <controlpanel-resetbutton></controlpanel-resetbutton>
        </chichi-ui-segment>
    </chichi-popover>

    <chichi-popover [button]='muteButton()'>
        <chichi-ui-segment width='max-content' left='0px'>
            <controlpanel-volume></controlpanel-volume>
        </chichi-ui-segment>
    </chichi-popover>
    <controlpad-config></controlpad-config>
    
    <chichi-popover *ngIf='cartSettings ? true : false' [button]='cartInfoButton()'  [icon]='chip'>
        <cheating-gamegenie></cheating-gamegenie>
    </chichi-popover>

    <a mat-fab routerLink="/debug" routerLinkActive="active">
        <mat-icon svgIcon='settings'></mat-icon>
    </a>
</div>