<div><h3> Cart Info</h3>
    <p>Loaded: {{ wishbone.Cart.CartName }}</p>
    <!--<chichi-status [emuState]="nesService.emuState"></chichi-status>-->
    <p>Mapper: {{ wishbone.Cart.mapperName }} ({{ wishbone.Cart.mapperID }}<span *ngIf="wishbone.Cart.submapperId">, {{ wishbone.Cart.submapperId }}</span>)</p>
    <p>CRC: {{ wishbone.Cart.ROMHashFunction }} </p>
    <p>Prg Roms: {{ wishbone.Cart.prgRomCount }}</p>
    <p>Chr Roms: {{ wishbone.Cart.chrRomCount }}</p>
</div>

<pre lang='xml'>
{{ cartInfo }}
</pre>

<!-- <h3>NesDB info:</h3>
    <p>System: {{ info.system }} </p>
    <p>Dumped by {{ info.dumper }} on {{ info.datedumped }}</p>
    <div *ngIf="info.board">
        <p>Mapper: {{ info.board.mapper }} </p>
        <p>Type: {{ info.board.type }} </p>
        <p>Pcb: {{ info.board.pcb }} </p>
    </div>
</div> -->