cartridge
{
    visibility: visible;
    background-color: #ffffff;
    width: 100%;
}
board
{
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
prg, chr
{
    color: #FF0000;
    font-size: 20pt;
}
pad
{
    color: #0000FF;
    font-size: 20pt;
}
