<div class="stepper">
  <button mat-button (click)="worker.debugStep()">Step</button>
  <button mat-button (click)="worker.debugStepFrame()">StepFrame</button>
  <button mat-button (click)="worker.continue()">Continue</button>
</div>
<debug-cpustatus></debug-cpustatus> 
<!--  <debug-ppustatus [ppuStatus]="wishbone.ppuStatus"></debug-ppustatus>  -->

<mat-tab-group dynamicHeight="true" [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="CPU">

    <mat-expansion-panel *ngIf="selectedTabIndex == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Instruction History
        </mat-panel-title>
      </mat-expansion-panel-header>
      <debug-instructionhistory></debug-instructionhistory>
    </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="Memory">
    <mat-expansion-panel *ngIf="selectedTabIndex == 1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ram Viewer
        </mat-panel-title>
      </mat-expansion-panel-header>
        <debug-memviewer></debug-memviewer>
      </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="PPU">
    <mat-expansion-panel *ngIf="selectedTabIndex == 2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          NameTable Viewer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <debug-nametableviewer></debug-nametableviewer>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="selectedTabIndex == 2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              PatternTable Viewer
            </mat-panel-title>
          </mat-expansion-panel-header>
          <debug-patternviewer></debug-patternviewer>
      </mat-expansion-panel>
      
      <mat-expansion-panel *ngIf="selectedTabIndex == 2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sprite Viewer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <debug-spriteviewer></debug-spriteviewer>
        </mat-expansion-panel>
</mat-tab>
</mat-tab-group>

