<div>
  <controlpanel-powerbutton></controlpanel-powerbutton>
  <controlpanel-resetbutton></controlpanel-resetbutton>
  <controlpanel-cartloader></controlpanel-cartloader>
</div>


<button mat-button (click)="showDebugger()">Open Debugger</button>  
  
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Audio Settings
    </mat-panel-title>
  </mat-expansion-panel-header>
    <controlpanel-volume></controlpanel-volume>
    <chichi-audiosettings></chichi-audiosettings>
  </mat-expansion-panel>
