<div style="display:flex">
    <div>
        <div>
            <h4>File Information</h4>
            <p>Filename: {{ wishbone.Cart.CartName }}</p>
            <!--<chichi-status [emuState]="nesService.emuState"></chichi-status>-->
            <p>Mapper: {{ wishbone.Cart.mapperName }} ({{ wishbone.Cart.mapperID }}<span *ngIf="wishbone.Cart.submapperId">, {{ wishbone.Cart.submapperId }}</span>)</p>
            <p>CRC: {{ wishbone.Cart.ROMHashFunction }} </p>
            <p>Prg Roms: {{ wishbone.Cart.prgRomCount }}</p>
            <p>Chr Roms: {{ wishbone.Cart.chrRomCount }}</p>
        </div>
    </div>
    <cartinfo-game *ngIf="game" [game]="game[0]"></cartinfo-game>
    <cartinfo-details *ngIf="cartridge" [cart]="cartridge"></cartinfo-details>
    <div *ngIf="board">
        <cartinfo-board [board]="board[0]" ></cartinfo-board>
        <cartinfo-board-rom *ngFor="let prg of board[0].prg" [rom]='prg' [heading]='"Prg Rom"' ></cartinfo-board-rom>
        <cartinfo-board-rom *ngFor="let chr of board[0].chr" [rom]='chr' [heading]='"Chr Rom"'></cartinfo-board-rom>
        <cartinfo-board-pad *ngFor="let pad of board[0].pad" [pad]='pad' [heading]='"Solder Pads"'></cartinfo-board-pad>
    </div>
</div>
