<div style="display:flex">
    <div>
        <h3>File Information</h3>
        <p>Filename: {{ wishbone.Cart.CartName }}</p>
        <!--<chichi-status [emuState]="nesService.emuState"></chichi-status>-->
        <p>Mapper: {{ wishbone.Cart.mapperName }} ({{ wishbone.Cart.mapperID }}<span *ngIf="wishbone.Cart.submapperId">, {{ wishbone.Cart.submapperId }}</span>)</p>
        <p>CRC: {{ wishbone.Cart.ROMHashFunction }} </p>
        <p>Prg Roms: {{ wishbone.Cart.prgRomCount }}</p>
        <p>Chr Roms: {{ wishbone.Cart.chrRomCount }}</p>
    </div>

    <cartinfo-details *ngIf="cartInfo" [cart]="cartInfo.cartridge"></cartinfo-details>
</div>
