<div class="stepper">
  <button mat-button (click)="nes.DebugStep()">Step</button>
  <button mat-button (click)="nes.DebugStepFrame()">StepFrame</button>
  <button mat-button (click)="nes.Continue()">Continue</button>
</div>
<div class="cpuStatus">
  <p>
    PC: {{ nes.debugger.currentCpuStatus.PC }} A: {{ nes.debugger.currentCpuStatus.A }} X: {{ nes.debugger.currentCpuStatus.X }} Y: {{ nes.debugger.currentCpuStatus.Y }} SP: {{ nes.debugger.currentCpuStatus.SP }}
  </p>
  <p>
    SR: {{ nes.debugger.decodedStatusRegister }}
  </p>
</div>
<div class="ppuStatus">
  <p>
    X: {{ nes.debugger.currentPPUStatus?.X }} Y: {{ nes.debugger.currentPPUStatus?.Y }} Name Table: {{ nes.debugger.currentPPUStatus?.nameTableStart }} Tile: {{ nes.debugger.currentPPUStatus?.currentTile }} Status: {{ nes.debugger.currentPPUStatus?.status }}
  </p>
  <p>
    locked hscroll: {{ nes.debugger.currentPPUStatus?.lockedHScroll }} locked vscroll: {{ nes.debugger.currentPPUStatus?.lockedVScroll }} 
  </p>
</div>

<mat-tab-group dynamicHeight="true" [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="CPU">

    <mat-expansion-panel *ngIf="selectedTabIndex == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Instruction History
        </mat-panel-title>
      </mat-expansion-panel-header>
      <chichines-instructionhistory></chichines-instructionhistory>
    </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="Memory">
    <mat-expansion-panel *ngIf="selectedTabIndex == 1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ram Viewer
        </mat-panel-title>
      </mat-expansion-panel-header>
        <chichines-memviewer></chichines-memviewer>
      </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="PPU">
    <mat-expansion-panel *ngIf="selectedTabIndex == 2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          NameTable Viewer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button (click)="doodle()">Doodle</button>
      <div class="doodlerPanel">
        <canvas #tileDoodle width="512" height="512"></canvas>
      </div>
      </mat-expansion-panel>
</mat-tab>
</mat-tab-group>

