p, span {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75em;
  margin: 0;
}

.mat-expansion-panel, .mat-table {
  background-color: rgba(41, 141, 39, 0.5);
}

.mat-grid-tile {
  width:320px;
}

.doodlerPanel {
  overflow: auto;
}