p, span {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75em;
  margin: 0;
}
.mat-expansion-panel {
  background-color: rgba(41, 141, 39, 0.44) !important;
}
.instructionhistory {
  width : 1200px;
  overflow:auto;
  font-size: 0.85em;
  columns: 120px 8;
}