label {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.fileLoader {
  width:100%;
}

.loader-button {
  width: 100%;
  margin-top: 4px ;
}

.loader-button label {
  text-align:center;
  width: 100%;
}

.audio_button {
  font-size: 0.6em;
  line-height: 18px;
}

.audio_button div.mat-button-toggle-label-content {
  line-height: 18px !important;
}