p, span {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75em;
  margin: 0;
}

.mat-expansion-panel, .mat-table {
  background-color: rgba(41, 141, 39, 0.5);
}

.mat-column-frame {
  flex: 0 0 80px;
}


.mat-column-time {
  flex: 0 0 150px;
}

.mat-column-asm {
  flex: 0 0 225px;
}

.mat-column-A {
  flex: 0 0 50px;
}

.mat-column-X {
  flex: 0 0 50px;
}

.mat-column-Y {
  flex: 0 0 50px;
}

.mat-column-SP {
  flex: 0 0 50px;
}

.mat-column-SR {
  flex: 0 0 50px;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-row {
  font-size: 0.9em;
}

.hidden {
  display: none;
}

.mat-cell {
font-size: 0.75em;
}